<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="../../assets/community.css">
    <link rel="stylesheet" href="../../assets/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="community">
        <div class="header">
            <div class="inner-bg">
                <div class="header__inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="images/logo_header.png" alt="">
                        </a>
                    </div>
                    <div class="header__content">
                        <ul class="header__nav">
                            <li class="header__item">
                                <a href="">ABOUT US</a>
                            </li>
                            <li class="header__item">
                                <a href="">LOCASIONS</a>
                            </li>
                            <li class="header__item">
                                <a href="">LOAN PRODUCTS</a>
                            </li>
                            <li class="header__item">
                                <a href="">CALCULATORS</a>
                            </li>
                            <li class="header__item">
                                <a href="">VIDEOS</a>
                            </li>
                        </ul>
                        <div class="header__controls">
                            <button class="header__button">
                                Get started
                            </button>
                            <div class="header__search">
                                <a href="">
                                    <div class="header__search__icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <p>SEARCH</p>
                                </a>
                            </div>
                            <div class="header__menu">
                                <a href="">
                                    <div class="header__menu__icon">
                                        <i class="fa-solid fa-bars"></i>
                                    </div>
                                    <p>MENU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="community__banner">
            <div class="community__banner__image">
                <img src="images/community_banner.png" alt="">
            </div>
        </div>
        <div class="community__people">
            <div class="inner-sm">
                <div class="community__people__inner">
                    <div class="community__people__content">
                        <h2 class="community__people__heading">
                            At Fairway, people are at the
                            heart of what we do.
                        </h2>
                        <p class="community__people__desc">
                            Through our nonprofit organizations, Fairway Cares and American
                            Warrior Initiative (AWI), we are able to bring comfort, hope and
                            support to people within the Fairway community and beyond. Each
                            year both nonprofit organizations are able to grow and impact
                            more lives through the generous contributions of Fairway
                            employees.
                        </p>
                    </div>
                    <div class="community__people__image">
                        <img src="images/community_people.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="community__said">
            <div class="community__said__inner">
                <div class="community__said__avt">
                    <img src="images/community_said.png" alt="">
                </div>
                <div class="community__said__content">
                    <p>“Fairway serves our community
                        beyond just loans. We find a need
                        and fill it. If it helps one person, it’s
                        worth it.”</p>
                    <span>Steve Jacobson, Founder and CEO</span>
                </div>
            </div>
        </div>
        <div class="community__milwaukee">
            <div class="community__milwaukee__top">
                <div class="community__milwaukee__inner">
                    <p class="community__milwaukee__inner__text">In case you missed it</p>
                    <div class="community__milwaukee__content">
                        <div class="community__milwaukee__image">
                            <img src="images/community_milwaukee.png" alt="">
                            <div class="community__milwaukee__center">
                                <a href="">
                                    <img src="images/community__milwaukee__center.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="community__milwaukee__card">
                            <h2>Milwaukee Brewers™ with Fairway
                                Independent Mortgage Donate AWI
                                Service Dog</h2>
                            <p>Fairway Independent Mortgage Corporation is honored to
                                have partnered with the Milwaukee Brewers™ to donate a
                                service dog to U.S. Army Veteran Andrew Sievila through the
                                American Warrior Initiative. <a href="">#AWI</a></p>
                        </div>
                        <button class="community__milwaukee__btn community__milwaukee__btn--left">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <button class="community__milwaukee__btn community__milwaukee__btn--right">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="community__milwaukee__bot">

            </div>
        </div>
        <div class="community__phoenix">
            <div class="community__phoenix__inner">
                <div class="community__phoenix__content">
                    <h2>
                        Helping Phoenix Food Bank During
                        COVID-19
                    </h2>
                    <p>A core value of Fairway Independent Mortgage is giving back! Fairway
                        Mortgage teamed up with St. Mary's Food Bank of Phoenix to help out
                        when they needed it most during the COVID-19 pandemic. Watch this
                        inspiring video of how we can help each other through the hard times
                        for a stronger tomorrow.</p>
                    <button>Visit <br />
                        St. Mary's Food Bank</button>
                </div>
                <div class="community__phoenix__ytb">
                    <iframe class="embedly-embed"
                        src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F504550077%3Fh%3Dd88114dff7%26app_id%3D122963&amp;dntp=1&amp;display_name=Vimeo&amp;url=https%3A%2F%2Fvimeo.com%2F504550077%2Fd88114dff7&amp;image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1044063173-7da6e86441b65019bfcaa0cc5d11f4d62e58329b6e725784824ef216d3f4275c-d_1280&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=vimeo"
                        width="100%" height="100%" scrolling="no" title="Vimeo embed" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="community__box">
            <div class="community__box__item community__box__item--left">
                <div class="community__box__item__inner">
                    <div class="community__box__item__image item1">
                        <img src="images/community_item1.png" alt="">
                    </div>
                    <p class="community__box__item__desc">
                        American Warrior Initiative (AWI) is a nonprofit organization backed by
                        Fairway whose mission is to educate, encourage and inspire
                        Americans to give back to our military. A key part of the AWI initiative
                        is the education platform for real estate agents and mortgage
                        professionals. Over the years, AWI has donated thousands of dollars,
                        numerous service dogs and provided support for those in need.
                    </p>
                    <button class="community__box__item__button community__box__item__button--red">
                        Visit AWI's Website
                    </button>
                </div>
            </div>
            <div class="community__box__item community__box__item--right">
                <div class="community__box__item__inner">
                    <div class="community__box__item__image item2">
                        <img src="images/community__item2.png" alt="">
                    </div>
                    <p class="community__box__item__desc">
                        Fairway Cares is the charitable arm of Fairway Independent Mortgage
                        Corporation. For over 20 years, Fairway and its over nationwide
                        network of employees have demonstrated a deep care for the
                        communities and people they work with and serve. Through employee
                        referrals, Fairway Cares provides the comfort of a care package or the
                        support of financial assistance.
                    </p>
                    <button class="community__box__item__button community__box__item__button--green">
                        Visit FairwayCares.org
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__top">
                <div class="inner-bg">
                    <div class="footer__inner">

                        <div class="footer__left">

                            <div class="footer__heading">
                                <p>Contact<strong> Corporate</strong></p>
                                <div class="footer__socials">
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-solid fa-camera-retro"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="footer__main">
                                <div class="footer__contact">
                                    <p class="footer__header">Complaints & Customer Service</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                    <a href="" class="footer__link">Contact Customer Service</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                    <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                    <a href="" class="footer__link">Report An Incident Online, click here</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Servicing & Loan Information</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                    <a href="" class="footer__link">Contact Servicing</a>
                                    <a href="" class="footer__link">Servicing Rights: New York</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Madison Headquarters Location</p>
                                    <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Hours of Operation (Corporate)</p>
                                    <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Legal Information & Links</p>
                                    <a href="" class="footer__link">Privacy Policy</a>
                                    <a href="" class="footer__link"> Legal Disclosures</a>
                                    <a href="" class="footer__link">Licensing</a>
                                    <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                    <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                    <a href="" class="footer__link">NMLS Consumer Access</a>
                                    <a href="" class="footer__link"> Terms Of Use</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Additional Links</p>
                                    <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                    <a href="" class="footer__link"> About Fairway</a>
                                    <a href="" class="footer__link"> Careers</a>
                                    <a href="" class="footer__link">Loan Products & Options</a>
                                    <a href="" class="footer__link">Press Releases</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer__right">
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>How To Save a Down Payment for a
                                House</h4>
                            <p>Down payment is the largest hurdle to homeownership for
                                first-time homebuyers. Here's how to save up for a down
                                payment on a house.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="inner-bg">
                    <div class="footer__bottom__inner">
                        <div class="footer__image">
                            <div class="footer__image__item">
                                <img src="images/footer2.png" alt="img_1">
                            </div>
                            <div class="footer__image__item">
                                <img src="images/footer3.png" alt="img_2">
                            </div>
                            <div class="footer__image__item">
                                <img src="images/footer4.png" alt="img_3">
                            </div>
                            <div class="footer__image__item">
                                <img src="images/footer5.png" alt="img_4">
                            </div>
                            <div class="footer__image__item">
                                <img src="images/footer6.png" alt="img_5">
                            </div>
                            <div class="footer__image__item">
                                <img src="images/footer7.png" alt="img_6">
                            </div>
                        </div>
                        <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a
                                href="">www.nmlsconsumeraccess.org</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="top__icon">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <p>TOP</p>
        </div>
    </div>
</body>

</html>