<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newroom</title>
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/newroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="newroom">
        <div class="header">
            <div class="inner-bg">
                <div class="header__inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="/components/Newroom/images/header-logo.png
                            " alt="FAIW">
                        </a>
                    </div>
    
                    <div class="header__content">
                        <ul class="header__nav">
                            <li class="header__item">
                                <a href="../About/index.html">ABOUT US</a>
                            </li>
                            <li class="header__item">
                                <a href="../Locations/locations.html">LOCATIONS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Product/product.html">LOAN PRODUCTS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Calculators/calculators.html">CALCULATORS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Video/video.html">VIDEOS</a>
                            </li>
                        </ul>
    
                        <div class="header__controls">
                            <button class="header__button">Get started</button>
    
                            <div class="header__search">
                                <a href="">
                                    <div class="header__search__icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <p>SEARCH</p>
                                </a>
                            </div>
    
                            <div class="header__menu">
                                <a>
                                    <div class="header__menu__icon">
                                        <i class="fa-solid fa-bars-staggered"></i>
                                    </div>
                                    <p>MENU</p>
                                </a>
                                <ul class="header__meunu__nav desktop">
                                    <li class="header__item">
                                        <a href="../Community/community.html">COMMUNITY</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Newroom/newroom.html">NEWSROOM</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Credit/credit.html">CREDIT</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Hub/hub.html">HUB</a>
                                    </li>
                                </ul>
    
                                <ul class="header__meunu__nav tablet">
                                    <li class="header__item">
                                        <a href="../About/index.html">ABOUT US</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Locations/locations.html">LOCATIONS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Product/product.html">LOAN PRODUCTS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Calculators/calculators.html">CALCULATORS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Video/video.html">VIDEOS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Community/community.html">COMMUNITY</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Newroom/newroom.html">NEWSROOM</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Credit/credit.html">CREDIT</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Hub/hub.html">HUB</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newroom__banner">
            <div class="inner-bg">
                <div class="newroom__banner__inner">
                    <div class="newroom__banner__text">
                        <h1>Work where you make a difference</h1>
                        <h3>The Communities We Live In.</h3>
                        <p>Fairway Independent Mortgage Corp. has been named #1 in Mortgage Origination Customer
                            Satisfaction by J.D. Power.</p>
                    </div>
                    <div class="newroom__banner__img">
                        <div class="newroom__banner__img__item">
                            <img src="/components/Newroom/images/banner___img__1.png" alt="">
                        </div>
                        <p>For J.D. Power 2023 Award information, visit <a href="">www.jdpower.com/awards</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="newroom__media">
            <div class="inner-bg">
                <div class="newroom__media__inner">
                    <h2>Fairway Newsroom</h2>
                    <div class="newroom__media__content">
                        <p class="newroom__media__tittle">
                            MEDIA MENTIONS
                        </p>
                        <div class="newroom__media__list">
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__1.png" alt="">
                                        <p>Jeremy Schachter</p>
                                    </div>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>How to get mortgage
                                        preapproval</h4>
                                    <p class="newroom__media__box__date">November 14, 2023</p>
                                    <p class="newroom__media__box__desc">“Lenders look at the monthly payment and not
                                        balances. So if you can pay off that debt, you
                                        can possibly qualify for a larger mortgage.”</p>
                                    <button class="newroom__media__box__click">
                                        Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__box_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__2.png" alt="">

                                    </div>
                                    <p>Barack Obama</p>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>Freddie Mac reveals winners
                                        of Home Possible RISE Awards</h4>
                                    <div class="newroom__media__box__date">May 17, 2023</div>
                                    <p class="newroom__media__box__desc">Awardees recognized for "helping borrowers
                                        overcome affordability challenges"</p>
                                    <button class="newroom__media__box__click">Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__fixed.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__3.png" alt="">
                                        <p>Donald Trump</p>
                                    </div>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>Freddie Mac reveals winners
                                        of Home Possible RISE Awards</h4>
                                    <div class="newroom__media__box__date">May 9, 2023</div>
                                    <p class="newroom__media__box__desc">Fairway Independent Mortgage Corporation
                                        volunteers and even some Milwaukee Brewers
                                        favorites put on some hard hats and got to
                                        work.</p>
                                    <button class="newroom__media__box__click">Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__box_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__4.png" alt="">
                                        <p>Arthur Brown</p>
                                    </div>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>Brewers' Woodruff, Racing
                                        Sausages join volunteers for
                                        Habitat for Humanity build</h4>
                                    <p class="newroom__media__box__date">May 5, 2023</p>
                                    <p class="newroom__media__box__desc">Higher interest rates and for-sale prices may
                                        be
                                        a barrier, but for those ready to plunge into
                                        home ownership, the best advice is to get
                                        educated.</p>
                                    <button class="newroom__media__box__click">Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__box_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__5.png" alt="">
                                        <p>Michael Martin</p>
                                    </div>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>How first-time buyers are
                                        finding success — and
                                        frustration — in Colorado’s
                                        housing market</h4>
                                    <p class="newroom__media__box__date">April 25, 2023</p>
                                    <p class="newroom__media__box__desc">The fees that come with buying a house are
                                        changing and not everyone thinks it's fair.
                                        Some with better credit scores will pay more,
                                        while some with lower credit scores will pay
                                        less.</p>
                                    <button class="newroom__media__box__click">Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__box_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="newroom__media__item">
                                <div class="newroom__media__user">
                                    <div class="newroom__media__image">
                                        <img src="/components/Newroom/images/media__user__6.png" alt="">
                                        <p>Kyle Benedict</p>
                                    </div>
                                </div>
                                <div class="newroom__media__box">
                                    <h4>Good-credit homebuyers face
                                        higher mortgage fees</h4>
                                    <p class="newroom__media__box__date">April 24, 2023</p>
                                    <p class="newroom__media__box__desc">Benedict suspects the change will not likely
                                        affect higher-income buyers with good credit.
                                        He estimates the fee change will amount to
                                        hundreds of dollars.</p>
                                    <button class="newroom__media__box__click">Click to read more...
                                    </button>
                                    <div class="newroom__media__box__image">
                                        <img src="/components/Newroom/images/media__box_6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="newroom__media__button">Read More Mentions
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="award__winning">
            <div class="inner-bg">
                <div class="award__inner">

                    <div class="award__left">
                        <div class="award__header">
                            <div class="award__logo">
                                <img src="/components/Newroom/images/award__home.png" alt="logo">
                            </div>
                            <h2>Proud to be a
                                Loved Workplace</h2>
                            <p>Ranked #2 nationally nationwide among all companies, and #1 among medium sized companies,
                                financial services companies, and for its value-driven culture.</p>
                        </div>
                        <span>For more information, visit <a href=""> https://www.newsweek.com/rankings/most-loved-workplaces-america-2023</a></span>
                    </div>

                    <div class="award__right">
                        <img src="/components/Newroom/images/cupppp.png" alt="cup">
                    </div>
                </div>
            </div>
        </div>
        <div class="newroom__confidential">
            <div class="inner-sm">
                <div class="newroom__confidential__inner">
                    <div class="recent__video">
                        <div class="recent__video__inner">
                            <div class="recent__video__node">
                                <div class="recent__video__image">
                                    <img src="/components/Newroom/images/recent__video__tittle.png" alt="icon_youtube">
                                </div>
                                <p>RECENT VIDEOS</p>
                            </div>
                            <div class="recent__video__youtube">
                                <iframe src="https://www.youtube.com/embed/FcnYWB2ps1Y?si=FEXmvGoaqRDb93FN"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                                <p class="recent__video__badge">NEW</p>
                            </div>
                            <div class="recent__video__content">
                                <h2>LO Confidential: A Season On The Street /
                                    Part 3</h2>
                                <p>L.O. Confidential: A Season on the Street follows three mortgage teams over the
                                    course of
                                    several months during one of the toughest markets in mortgage history. The 3-part
                                    series
                                    is produced by an Emmy Award-winning director.</p>
                            </div>
                            <button class="recent__video__button">Watch More Like This</button>
                        </div>
                    </div>
                    <div class="recent__outher">
                        <div class="recent__articles__tittle">
                            <div class="recent__articles__image">
                                <img src="/components/Newroom/images/recent__articles__tittle.png" alt="">
                            </div>
                            <p>RECENT ARTICLES</p>
                        </div>
                        <div class="recent__articles">
                            <div class="recent__articles__img">
                                <img src="/components/Newroom/images/recent__articles__1.png" alt="">
                            </div>
                            <div class="recent__articles__content">
                                <h3>Mortgage Success for
                                    Self-Employed Borrowers
                                    Seeking Homeownership</h3>
                                <p>Mortgage success for self-employed
                                    borrowers seeking homeownership is
                                    something Fairway mortgage loan officers
                                    are passionate about.</p>
                            </div>
                            <div class="recent__articles__node">
                                <span>Published:</span>
                                <span>December 21, 2023</span>
                            </div>
                        </div>
                        <div class="recent__articles">
                            <div class="recent__articles__img">
                                <img src="/components/Newroom/images/recent__articles__2.png" alt="">
                            </div>
                            <div class="recent__articles__content">
                                <h3>How to Secure a
                                    Mortgage for First-
                                    Generation First-Time
                                    Homebuyers</h3>
                                <p>To secure a mortgage for first-generation
                                    first-time homebuyers is not always easy.
                                    Having mortgage loan officers who invest
                                    in your success is important.</p>
                            </div>
                            <div class="recent__articles__node">
                                <span>Published:</span>
                                <span>December 21, 2023</span>
                            </div>
                        </div>
                        <div class="recent__articles">
                            <div class="recent__articles__img">
                                <img src="/components/Newroom/images/recent__articles__3.png" alt="">
                            </div>
                            <div class="recent__articles__content">
                                <h3>Homeownership Even
                                    with Bad Credit</h3>
                                <p>Homeownership even with bad credit can
                                    sometimes feel impossible. At Fairway we
                                    can make the American Dream of
                                    homeownership possible for anyone.</p>
                            </div>
                            <div class="recent__articles__node">
                                <span>Published:</span>
                                <span>December 21, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="keep__playing">
            <div class="keep__playing__inner">
                <div class="keep__playing__content">
                    <h2>#KeepPlaying Lyndee Paulus: You
                        Control Your Success</h2>
                    <p>Fairway Independent Mortgage Senior Loan Officer Lyndee Paulus
                        was an elite skier for many years, and in this video she explains the
                        lessons she learned on the slopes that she has carried over into her
                        mortgage career at Fairway.</p>
                    <button>View More Videos</button>
                </div>
                <div class="keep__playing__video">
                    <iframe class="keep__playing__video__iframe" frameborder="0"  src="https://player.vimeo.com/video/517187098?app_id=122963&amp;h=0e917c4830&amp;referrer=https%3A%2F%2Fwww.fairwayindependentmc.com%2F" allowfullscreen="true"></iframe>
            </div>
        </div>
        </div>
        <div class="newroom__know">
            <div class="inner-sm">
                <div class="newroom__know__top">
                    <div class="newroom__know__image">
                        <img src="/components/Newroom/images/know__tittle.png" alt="">
                    </div>
                    <div class="newroom__know__node">
                        <h2>Know before you go looking</h2>
                        <p>Get pre-approved with a Fairway Loan Officer to see how much home you can afford. Get to know
                            your options today! <a href="">Click here to get started</a></p>
                    </div>
                </div>
                <div class="newroom__know__bottom">
                    <p>Press releases</p>
                    <div class="newroom__know__content">
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/newroom__know.jpg" alt="">
                            </div>
                            <a href="">Fairway Mortgage is Making Advances in
                                Technology and Reimagining the Future
                                of Closing</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>November 19, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/newroom__know2.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Ranked #1 in the U.S.
                                for Borrower Satisfaction Among
                                Mortgage Origination Companies by J.D.
                                Power</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>November 16, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/newroom__know3.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Ranked #2 of the Top
                                100 Most Loved Workplaces for 2023</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>September 25, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage and XINNIX Announce
                                innovative Partnership</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>March 27, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Adds Originator
                                Michael Romano</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>March 22, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Promotes National
                                Reverse Ops VP Dan Ventura</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>March 20, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Creates Regional
                                Reverse SVP Leadership Team</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>March 16, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Mortgage Announces Hire of
                                Veteran Denver Originator Kym Poladsky</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>February 22, 2023</span>
                            </div>
                        </div>
                        <div class="newroom__know__item">
                            <div class="newroom__know__logo">
                                <img src="/components/Newroom/images/know__1__fix.png" alt="">
                            </div>
                            <a href="">Fairway Independent Mortgage Evolves
                                Reverse Mortgage Origination Across its
                                Network</a>
                            <div class="newroom__know__detail">
                                <span>Published:</span>
                                <span>February 21, 2023</span>
                            </div>
                        </div>
                    </div>
                    <button class="newroom__know__btn">View All Press Releases</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__top">
                <div class="inner-bg">
                    <div class="footer__inner">

                        <div class="footer__left">

                            <div class="footer__heading">
                                <p>Contact<strong> Corporate</strong></p>
                                <div class="footer__socials">
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-solid fa-camera-retro"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="footer__main">
                                <div class="footer__contact">
                                    <p class="footer__header">Complaints & Customer Service</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                    <a href="" class="footer__link">Contact Customer Service</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                    <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                    <a href="" class="footer__link">Report An Incident Online, click here</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Servicing & Loan Information</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                    <a href="" class="footer__link">Contact Servicing</a>
                                    <a href="" class="footer__link">Servicing Rights: New York</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Madison Headquarters Location</p>
                                    <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Hours of Operation (Corporate)</p>
                                    <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Legal Information & Links</p>
                                    <a href="" class="footer__link">Privacy Policy</a>
                                    <a href="" class="footer__link"> Legal Disclosures</a>
                                    <a href="" class="footer__link">Licensing</a>
                                    <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                    <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                    <a href="" class="footer__link">NMLS Consumer Access</a>
                                    <a href="" class="footer__link"> Terms Of Use</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Additional Links</p>
                                    <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                    <a href="" class="footer__link"> About Fairway</a>
                                    <a href="" class="footer__link"> Careers</a>
                                    <a href="" class="footer__link">Loan Products & Options</a>
                                    <a href="" class="footer__link">Press Releases</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer__right">
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>Why Metaverse Real Estate Is Selling
                                for Millions and Three of the Biggest
                                Metaverse Real Estate Purchases Yet</h4>
                            <p>The Metaverse is a digital frontier where people can buy and sell homes. Here's why Metaverse real estate is selling for millions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="inner-bg">
                    <div class="footer__bottom__inner">
                        <div class="footer__image">
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__1.png" alt="img_1">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__2.png" alt="img_2">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__3.png" alt="img_3">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__4.png" alt="img_4">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__5.png" alt="img_5">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Newroom/images/footer__6.png" alt="img_6">
                            </div>
                        </div>
                        <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a
                                href="">www.nmlsconsumeraccess.org</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="top__icon">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <p>TOP</p>
        </div>
    </div>
</body>

</html>