@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
button{
    border: none;
}

.inner-bg{
    width:1280px;
    margin:0 auto;
}
    
      
@media (max-width: 767.98px) {
.inner-bg {
          width: 540px;
        }
}
      
@media (max-width: 599.98px) {
.inner-bg{
         width: 100%;
          padding: 0 15px;
       } 
}
.inner-sm{
    width:1220px;
    margin:0 auto;
}

      
@media (max-width: 767.98px) {
    .inner-sm {
          width: 520px;
        }
}
      
@media (max-width: 599.98px) {
    .inner-sm{
          width: 100%;
          padding: 0 15px;
        }
}
 iframe{
    height:100%;
    width:100%;
}
 img{
    height:100%;
    width:100%;
}

/* header */
.header{
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.30);
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 84px;
}
.header__logo{
    width: 190px;
    height: 60px;
}
.header__content{
    display: flex;
    gap: 5px;
    align-items: center;
}
.header__nav{
    display: flex;
    gap: 28px;
    padding-right: 14px;
}
.header__item{
    color: #115740;
    font-size: 14px;
    font-weight: 600;
}
.header__item a{
color: #115740;
}
.header__controls{
    padding: 4px 0 4px 17px;
    border-left: 2px dotted #D3D3D3;
    display: flex;
    align-items: center;
}
.header__button{
    padding: 15px 32px;
    border-radius: 200px;
    background: #FF8200;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-right: 6px;
}
.header__search{
    padding: 3px 10px 1px 10px;
    text-align: center;
}
.header__search__icon{
    padding: 2.5px;
}
.header__search__icon i{
    color:#283E39;
    font-size: 25px;
}
.header__search p{
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.header__menu{
    padding-top:12px;
    margin: 0 12px;
    text-align: center;
    position: relative;
}

.header__menu:hover .desktop {
    display: block;
}

.header__menu__nav {
    display: none;
    position: absolute;
    top: 56px;
    right: 0;
}

.header__menu__nav::before {
    content: "";
    width: 100%;
    height: 11px;
    display: inline-block;

}

.header__menu__nav .header__item {
    text-align: right;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding-right: 15px;

}


.header__menu__nav .header__item:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;

}

.header__menu__icon i {
    color: #000;
    font-size: 23px;
}
.header__menu p{
    color: #115740;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

@media (max-width: 767.98px) {
        .inner-bg {
        width: 100%;
        }
        .header__nav {
            display: none;
        }
}
                 
@media (max-width: 599.98px) {
        .inner-bg{
                 width: 100%;
                  padding: 0 15px;
            }
        .inner-sm{
                width: 100%;
                padding: 0 15px;
            }
        .header__nav {
                display: none;
            }
        .header__button{
                display:none
            }
}
       
/* footer */
/* footer top*/
.footer__top{
    padding: 65px 0 60px 0;
    background-image: url("/images/footer1.jpg");
}
.footer__inner{
    position: relative;
    z-index: 0;
    padding: 0 30px;
    display: flex;
}
.footer__left{
    width: 64%;
    padding-right: 16px;
    
}
.footer__heading{
    display: flex;
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 1px solid #84BD00;
    gap: 44px;
}
.footer__heading p{
    color: #115740;
    font-family: Inter;
    font-size: 37.813px;
    font-weight: 400;
    line-height: 40px;
}
.footer__socials{
    display: flex;
}
.footer__icon{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2.5px solid #115740;
    text-align: center;
    line-height: 35px;
    background: #fff;
}
.footer__icon i{
    font-size: 20px;
    color: #115740;
}
.footer__main{
    display: flex;
    flex-direction: column;
    padding-top: 25px; 
    height: 510px;
    flex-wrap: wrap;
}
.footer__contact{
    width: 50%;
    margin-bottom: 22px;
    color: #115740;
}
.footer__header{
    font-family: Inter;
    padding: 2px 0 3px 15px;
    border-left: 5px solid #84BD00;
    margin-bottom: 5px;
    line-height: 24px;
}
.footer__phone{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 15px;
}
.footer__link {
    display:block;
    color: #0F6B4B;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 15px;
}
.footer__address{
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}
/*right*/
.footer__right{
    height: 238px;
    width: 36%;
    padding: 27px 32px 33px 31px;
    border-radius: 12px;
    border: 1px solid #E6E2DB;
    background: #FFF;
    position: relative;
    color: #115740;
}
    
.footer__right::before{
    content: "";
    position: absolute;
    border-radius: 6px;
    border: 2px solid #00973A;
    width: 100%;
    height: 98%;
    top: 7px;
    right: -7px;
    z-index: -1;
}

.footer__right span{
    display: block;
    margin-bottom: 28px;
    font-family: Inter;
    font-size: 25.797px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.footer__right h4{
    padding: 2px 0 2px 15px;
    border-left: 5px solid #115740;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: underline;
    margin-bottom: 18px;
}
.footer__right p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
/* footer bottom*/
.footer__bottom{
    background: #283E39;
    padding: 15px 0;
}
.footer__bottom__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__image{
    width: 48%;
    display: flex;
    gap:22px;
}
.footer__image__item{
    height: 100%;
}
.footer__image__item img{
    width: auto;
    height: 100%;
    object-fit: contain;
}
.footer__bottom__inner p{
    color: #FFF;
    font-size: 10px;
    line-height: 14px;
}
.footer__bottom__inner a{
    color: #fff;
    text-decoration: underline;
}

   
@media (max-width: 767.98px) {
            .inner-bg {
            width: 100%;
            }
            .inner-sm {
                width: 100%;
              }
            .footer__main {
                align-items: center;
                justify-content: center;
                height: fit-content;  
            }
            .footer__inner {
                display: inherit;
                padding: 0 22px;
            }
            .footer__right {
                width: 100%;
            }
            .footer__left {
                width: 100%;
                padding-right: 0;
            }
            .footer__heading {
                justify-content: center;
            }
            .footer__heading p {
                font-size: 30px;
            }
            .footer__bottom__inner {
                text-align: center;
                display: inherit;
            }
            .footer__image {
                width: 100%;
                gap: 0;
                justify-content: space-around;
            }
}


@media (max-width: 599.98px) {
    .inner-bg{
             width: 100%;
              padding: 0;
           }
    .inner-sm{
            width: 100%;
            padding: 0;
          }
          .footer__heading p {
            text-align: center;
            font-size: 25px;
        }
          .footer__socials {
            justify-content: center;
        }
        .footer__heading {
            display: inherit;
        }
        .footer__right {
            height: fit-content;
        }
        
        .footer__contact {
            width: 100%;
        }
        .footer__image__item img {
            width: 100%;
        }
        
}
/* recent__video */
.recent__video{
    height: 773px;
    width: 63%;
    border-radius: 12px 12px 0px 0px;
    background: #FFF;
    box-shadow: 0px 12px 36px -8px rgba(0, 0, 0, 0.10);
    padding: 0px 36px 36px 36px;
}
.recent__video__inner{
    border-top: 1px solid #0000001a;
    padding-top:35.5px;
    position: relative; 
}
.recent__video__node{
    position: absolute;
    background: #fff;
    display: flex;
    padding-left: 3px;
    gap: 5px;
    align-items: center;
    top:0;
    left: 0;
    transform: translateY(-50%);
}
.recent__video__image{
    height: 24px;
}
.recent__video__node p{
    color: #283E39;
    font-size: 11px;
    font-weight: 700;
    line-height: 15.4px;
    letter-spacing: 3px;
}
.recent__video__youtube{
    width: 100%;
    height: 392px;
    position: relative;
    margin-bottom: 16px;
}
.recent__video__badge{
    padding: 2px 7px;
    border-radius: 6px;
    background: #00973A;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -50%);
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.2px;
}
.recent__video__badge::before{
    content: "";
    border-radius: 6px;
    border: 2px solid #00973A;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6px;
    left: 6px;
}
.recent__video__content{
    padding: 25px 30px;
    margin-bottom: 16px;
}
.recent__video__content h2{
    border-left: 5px solid #84BD00;
    padding-left:15px;
    margin-bottom: 12px;
    color: #115740;
    font-size: 28.8px;
    font-weight: 600;
    line-height: 30.4px;
}
.recent__video__content p{
    color: #3F4444;
    font-size: 14px;
    line-height: 22px;
}
.recent__video__button{
    width: 100%;
    padding: 15px 0px;
    border-radius: 200px;
    background: #E4EEE7;
    text-align: center;
    color: #115740;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

@media (max-width: 767.98px) {
    .inner-bg {
    width: 100%;
    }
    .inner-sm{
        width: 100%;
      }
      .recent__video {
        width: 100%;
    }
    .recent__video__badge {
        transform: translate(30%, -40%);
    }
}
             
@media (max-width: 599.98px) {
    .inner-bg{
             width: 100%;
              padding: 0 ;
           }
    .inner-sm{
            width: 100%;
            padding: 0 ;
          }
          .recent__video__badge {
            transform: translate(30%, -30%);
        }
}

/* recent__articles */
.recent__articles{
    border-radius: 5px;
    background: rgba(228, 238, 231, 0.30);
    position: relative;
}
.recent__articles__img{
    height: 210px;
}
.recent__articles__img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.recent__articles__content{
    padding: 20px 36px 26px 36px;
}
.recent__articles__content h3{
    border-left: 5px solid #84BD00;
    padding-left: 15px;
    margin-bottom: 9px;
    color: #115740;
    font-size: 22.4px;
    font-weight: 600;
    line-height: 24px;
}
.recent__articles__content p{
    color: #3F4444;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.recent__articles__node{
    border-radius: 5px;
    border: 1px solid #F3FFF1;
    background: #FAF8F4;
    padding: 9px 16px 9px 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}
.recent__articles__node span{
    color: #115740;
    font-size: 9px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 1px;
    margin-left: 7px;
}

@media (max-width: 767.98px) {
    .inner-bg {
    width: 100%;
    }
    .inner-sm{
        width: 100%;
      }
      .recent__articles__img {
        height: auto;
    }
    .recent__articles__content h3 {
        font-size: 16px;
    }
    .recent__articles__content p {
        line-height: 14px;
    }
}
             
@media (max-width: 599.98px) {
    .inner-bg{
             width: 100%;
              padding: 0 ;
           }
    .inner-sm{
            width: 100%;
            padding: 0 ;
          }
}

/* keep__playing */
.keep__playing{
    background: url("/components/Newroom/images/playing__back.png");
}
.keep__playing__inner{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   width: 1180px;
   margin: 0 auto;
   padding-top: 32px;
   padding-bottom: 62px;
}
.keep__playing__content{
   padding-top: 51px;
   color: #ffffffff;
}
.keep__playing__content h2{
   border-left: 5px solid #84BD00;
   padding-left: 15px;
   font-size: 28.8px;
   font-weight: 600;
   line-height: 30.4px;
   margin-bottom: 30px;
}
.keep__playing__content p{
   font-weight: 500;
   line-height: 24px;
   margin-bottom: 21px;
}
.keep__playing__content button{
   color: #FFF;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;   
   border-radius: 200px;
   background: #0F6B4B;
   padding: 14px 32px;
}
.keep__playing__video{
   height: 323px;
}


@media (max-width: 767.98px) {
   .inner-bg {
   width: 100%;
   }
   .inner-sm{
       width: 100%;
     }
   .vp-center {
       display: inherit;
   }
   .keep__playing__inner {
       padding: 0 22px;
       padding-top: 20px;
       flex-direction: column-reverse;
       display: flex;
       width: 100%;
   }
   .keep__playing__content h2 {
       font-size: 20px;
   }
   .keep__playing__content {
       text-align: center;
   }
}
            
@media (max-width: 599.98px) {
   .inner-bg{
            width: 100%;
             padding: 0 ;
        }
   .inner-sm{
           width: 100%;
           padding: 0 ;
        }
         .keep__playing__inner {
           padding-top: 10px;
        }
       .vp-center {
           display: flex;
        }
       .keep__playing__content {
           padding-top: 30px;
        }
       .keep__playing__video {
           height: fit-content;
        }
}
  
/* award__winning */
.award__winning{
    background:#fff;
    padding-top:24px;
    padding-bottom:75.5px;
}
.award__inner{
    background:url("/components/Common/images/img_winning.jpg");
    background-size: cover;
    padding:23px 0 10px 48px;
    position:relative;
    height: 250px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.award__left{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}
.award__header{
    display: flex;
    flex-wrap: wrap;
    width: 707px;
}
.award__logo{
    width: 120px;
    height: 111px;
    padding-right: 2px;
    border-right: 2px solid #FFF;
    margin-right: 16px;
    margin-bottom: 13px;
    margin-top: 5px;
}
.award__header h2{
    width:570px;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
}
.award__header p{
    font-size: 16px;
    font-weight: 400;
}
.award__left  span{
    font-size: 12.8px;
}
.award__left a{
    text-decoration: underline;
    color: #FFF;
}
.award__right{
    width: 242px;
    height: 320px;
    position: absolute;
    top:-44px;
    right:50px;
}

@media (max-width: 767.98px) {
    .inner-bg {
    width: 100%;
    }
    .inner-sm {
        width: 100%;
      }
      .award__logo {
        width: 60px;
        height: 55px;
        border-right: none;
    }
    .award__right {
        width: 191px;
        height: 252px;
        right: 10px;
        top: 0px;
    }
    .award__header {
        width: 0;
        display: grid;
    }
    .award__header h2 {
        width: 350px;
        font-size: 28.8px;
        line-height: 30px;
    }
    .award__inner {
        padding: 23px 0 10px 30px ;   
    } 
.award__header p {
    font-size: 10px;
    font-weight: 400;
    }
    .award__left span {
        font-size: 9px;
    }
}
             
@media (max-width: 599.98px) {
    .inner-bg{
             width: 100%;
              padding: 0 ;
           }
    .inner-sm{
            width: 100%;
            padding: 0 ;
          }
          .award__right {
            width: 150px;
            height: 198px;
            top: 23px;
        }
        .award__header h2 {
            width: 240px;
            font-size: 24px;
            line-height: 25px;
            margin-bottom: 10px;
        }
}
    
    
/* top */
.top{
    position: fixed;
    bottom: 20vh;
    right: 14px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top__icon i{
    font-size: 12px;
}
.top p{
    color: #283E39;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
}

@media (max-width: 767.98px) {
    .inner-bg {
    width: 100%;
    }
    .inner-sm {
        width: 100%;
      }
    .top {
        line-height: 10px;
        text-align: center;
        display: inherit;
        width: 30px;
        height: 30px 
      }
    .top__icon i{
        font-size: 8px;
    }
    .top p{
        font-size: 7px;
    }
}

/* banner__nav */
.banner__nav {
    width: fit-content;
    border-radius: 20px;
    background: #FFF;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.banner__nav__icon{
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%; 
    background: #F3FFF1;
}
.banner__nav__icon i{
    font-size: 10px;
    color:#000;
}
.banner__nav__list{
    display: flex;
    align-items: center;
}
.banner__nav__item{
    padding: 0 8px;
    border-right: 1px dotted #84BD00;
    color: #0F6B4B;
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    line-height: 16px;
}
.banner__nav__item a{
    color:#0F6B4B;
}
.banner__nav__item:last-child{
    border-right: none;
    padding-right: 6px;
}
.banner__nav__item:last-child a {
    color: #84BD00;
    text-decoration-line: underline;
}    
.banner__nav__item a:hover{
    color: #84BD00;
    text-decoration-line: underline;
    transition: all 0.3s ease-in-out;
}