/* calculators */

.calculators__banner {
    background-image: url("../components/Calculators/images/bg-banner.jpg");
    padding: 100px 0;
}



.calculators__banner__content {
    width: 768px;
    color: #fff;
}

.calculators__banner__inner h1 {
    border-left: 5px solid #84BD00;
    padding-left: 15px;
    margin-bottom: 30px;
    font-size: 73.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    margin-top: 24px;
    margin-bottom: 52px;
}


.calculators__banner__inner p {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.calculators__banner__text {
    margin-bottom: 29px;
}



.calculators__content {
    background-image: url("../components/Calculators/images/bg-content.jpg");
    height: auto;
    padding-bottom: 105px;
    padding-top: 70px;
}

.calculators__content__top {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.calculators__content__item {
    background-image: url("../components/Calculators/images/item.jpg");
    width: 368px;
    height: 498px;
    padding: 71px 31px;
    text-align: center;
    border-radius: 8px;
}

.calculators__content__item__icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #00973A;
    text-align: center;
    line-height: 80px;
    margin-bottom: 23px;
}

.calculators__content__item__icon i {
    font-size: 35px;
}

.calculators__content__item h3 {
    color: #283E39;
    font-size: 28.8px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 25px;
}

.calculators__content__item span {
    display: inline-block;
    color: #283E39;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.4px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.calculators__content__item p {
    color: #283E39;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 42px;
}

.calculators__content__item button {
    border-radius: 200px;
    background: #0F6B4B;
    padding: 14px 30px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: none;
}

.calculators__content__bot {
    padding: 36px 56px 51px 31px;
    border: 1px solid #C4D4C9;
    background: rgba(255, 255, 255, 0.70);
}


.calculators__content__bot p {
    color: #283E39;
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
}

.calculators__content__bot p:first-child {
    margin-bottom: 25px;
}


@media (max-width: 767.98px) {
    .calculators__banner__content {
        width: 100%;
    }

    .calculators__banner__content h1 {
        font-size: 48px;
    }

    .calculators__content__top {
        flex-wrap: wrap;
    }

    .calculators__content__item {
        width: calc(50% - 15px);
    }
}

@media (max-width: 599.98px) {
    .inner-bg {
        width: 100%;
        padding: 0 15px;
    }

    .calculators__content__item {
        width: 60%;
    }
}


/* end calculators */