<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="products">
        <div class="header">
            <div class="inner-bg">
                <div class="header__inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="/components/Product/images/header__1.png" alt="FAIW">
                        </a>
                    </div>

                    <div class="header__content">
                        <ul class="header__nav">
                            <li class="header__item">
                                <a href="../About/index.html">ABOUT US</a>
                            </li>
                            <li class="header__item">
                                <a href="../Locations/locations.html">LOCATIONS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Product/product.html">LOAN PRODUCTS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Calculators/calculators.html">CALCULATORS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Video/video.html">VIDEOS</a>
                            </li>
                        </ul>

                        <div class="header__controls">
                            <button class="header__button">Get started</button>

                            <div class="header__search">
                                <a href="">
                                    <div class="header__search__icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <p>SEARCH</p>
                                </a>
                            </div>

                            <div class="header__menu">
                                <a>
                                    <div class="header__menu__icon">
                                        <i class="fa-solid fa-bars-staggered"></i>
                                    </div>
                                    <p>MENU</p>
                                </a>
                                <ul class="header__meunu__nav desktop">
                                    <li class="header__item">
                                        <a href="../Community/community.html">COMMUNITY</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Newroom/newroom.html">NEWSROOM</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Credit/credit.html">CREDIT</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Hub/hub.html">HUB</a>
                                    </li>
                                </ul>

                                <ul class="header__meunu__nav tablet">
                                    <li class="header__item">
                                        <a href="../About/index.html">ABOUT US</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Locations/locations.html">LOCATIONS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Product/product.html">LOAN PRODUCTS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Calculators/calculators.html">CALCULATORS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Video/video.html">VIDEOS</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Community/community.html">COMMUNITY</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Newroom/newroom.html">NEWSROOM</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Credit/credit.html">CREDIT</a>
                                    </li>
                                    <li class="header__item">
                                        <a href="../Hub/hub.html">HUB</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__banner">
            <div class="inner-bg">
                <div class="products__banner__inner">
                    <div class="banner__nav">
                        <div class="banner__nav__icon">
                            <a href=""><i class="fa-solid fa-house"></i></a>
                        </div>
                        <ul class="banner__nav__list">
                            <li class="banner__nav__item">
                                <a href="">HOME</a>
                            </li>
                            <li class="banner__nav__item">
                                <a href="">LOAN PRODUCTS & OPTIONS</a>
                            </li>

                        </ul>
                    </div>
                    <h1>Mortgage Loan Options & Products</h1>
                    <p>Fairway Independent Mortgage Corporation provides a variety of mortgage loan
                        options to meet the unique needs of our homebuyers. We understand selecting the
                        right loan product can be overwhelming; however, our mortgage professionals will
                        provide tailored advice to help you make the best decision for you and your family.</p>
                </div>
            </div>
        </div>
        <div class="products__content">
            <div class="inner-bg">
                <div class="products__content__inner">
                    <div class="products__content__top">
                        <div class="products__content__item">
                            <h2>Adjustable-Rate
                                Mortgage Loan</h2>
                            <p class="products__content__desc">An adjustable-rate mortgage loan
                                (ARM loan) might be the right option
                                for you if you plan to move within
                                seven years, since they feature lower
                                introductory interest rates.</p>
                            <p class="products__content__hightlight">Highlights of adjustable-rate
                                mortgage loans include:</p>
                            <span>Lower initial monthly payments</span>
                            <span>The ability to qualify for higher loan
                                amounts</span>
                            <span>Fluctuating rates and payments</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Conventional Loan</h2>
                            <p class="products__content__desc">If you have good credit and stable
                                income, a Conventional loan might
                                be the right option for you, since
                                Conventional loan programs
                                traditionally offer more options to the
                                borrower.</p>
                            <p class="products__content__hightlight">Highlights of Conventional loans
                                include:</p>
                            <span>Lower interest rates for borrowers with
                                good credit</span>
                            <span>Fewer penalties and fees</span>
                            <span>Down payments that range from 3%–
                                20%</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>FHA Mortgage
                                Loan</h2>
                            <p class="products__content__desc">The FHA was formed in 1934 to spur
                                greater homeownership numbers in
                                the U.S. The FHA mortgage loan is
                                designed to help low- to moderate-
                                income families attain
                                homeownership.</p>
                            <p class="products__content__hightlight">Highlights of FHA mortgage loans
                                include:</p>
                            <span>Low down payment requirements</span>
                            <span>Flexible income and credit
                                requirements</span>
                            <span>The ability to use gift funds from a
                                relative or employer for the down
                                payment</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Fixed-Rate
                                Mortgage Loan</h2>
                            <p class="products__content__desc">Fixed-rate mortgage loans can be a
                                Conventional mortgage loan, an FHA
                                mortgage loan, a VA mortgage loan,
                                a USDA mortgage loan, a Jumbo
                                mortgage loan — any of these!</p>
                            <p class="products__content__hightlight">Highlights of fixed-rate mortgage
                                loans include:</p>
                            <span>Interest rates that don't fluctuate</span>
                            <span>The ability to avoid rising rates in the
                                future</span>
                            <span>The option of 10-, 15-, 20-, 25- and 30-
                                year loan terms</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Jumbo Mortgage
                                Loan</h2>
                            <p class="products__content__desc">Jumbo mortgage loans are ideal for
                                borrowers with good credit who
                                don’t have enough funds on hand to
                                bring the home loan amount under
                                the FHFA’s current conforming loan
                                limit.</p>
                            <p class="products__content__hightlight">Highlights of Jumbo mortgage
                                loans include:</p>
                            <span>Higher purchase limits</span>
                            <span>The ability to purchase more home</span>
                            <span>Options for primary residences, second
                                homes or rental properties</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Physician Loan
                                Mortgage</h2>
                            <p class="products__content__desc">Medical professionals have a unique
                                set of challenges with
                                homeownership. Fairway mortgage
                                advisors know the ins and outs of
                                helping medical professionals apply
                                for physician loans.</p>
                            <p class="products__content__hightlight">Highlights of physician loan
                                mortgages include:</p>
                            <span>The ability to ignore student loans
                                when calculating your DTI</span>
                            <span>Low down payment options</span>
                            <span>Flexible closing dates</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Refinance Loan</h2>
                            <p class="products__content__desc">A refinance loan may be the right
                                decision for you if your home’s value
                                has significantly increased or current
                                interest rates are considerably lower
                                than they were when you purchased
                                your home.</p>
                            <p class="products__content__hightlight">Highlights of refinance loans
                                include:</p>
                            <span></span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Renovation Loan</h2>
                            <p class="products__content__desc">When shopping for a home, you may
                                come across properties that aren’t
                                quite what you’re looking for but
                                have the potential to be your dream
                                home with some repairs or
                                renovations. With a renovation loan,
                                you can roll the cost of financing or
                                refinancing a home and repairs into
                                one loan — saving you time and
                                money.</p>
                            <p class="products__content__hightlight">Renovation loan options include:</p>
                            <span>The ability to shorten your loan’s term
                                to save money</span>
                            <span>The possibility to attain a lower interest
                                rate</span>
                            <span>The option to combine a first and
                                second lien to a single loan for
                                simplicity and possible savings</span>
                            <span>The ability to access your home's equity</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>Reverse Mortgage
                                Loan</h2>
                            <p class="products__content__desc">Reverse mortgage loans can be used
                                to turn a portion of the equity in your
                                home into cash that can be used for
                                many different purposes that may
                                enhance and extend your retirement.</p>
                            <p class="products__content__hightlight">Highlights of reverse mortgage
                                loans include:</p>
                            <span>HomeStyle Renovation Loan</span>
                            <span>Limited 203(k) Rehabilitation Mortgage</span>
                            <span>Standard 203(k) Rehabilitation
                                Mortgage</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>USDA Mortgage
                                Loan</h2>
                            <p class="products__content__desc">USDA mortgage loans provide
                                affordable financing options for
                                properties located in designated
                                small towns, suburbs and exurbs.
                                This program helps eligible low- to
                                moderate-income families achieve
                                homeownership by offering a no-
                                down-payment option.</p>
                            <p class="products__content__hightlight">Highlights of USDA mortgage loans
                                include:</p>
                            <span>The ability to turn a portion of the
                                equity in your home into cash</span>
                            <span>The option to eliminate your monthly
                                mortgage payment</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>
                                <a href="">View Product</a>
                            </div>
                        </div>
                        <div class="products__content__item">
                            <h2>VA Mortgage Loan</h2>
                            <p class="products__content__desc">VA mortgage loans provide
                                affordable home financing options
                                for eligible service members,
                                veterans and surviving spouses. Here
                                at Fairway, we are proud to help our
                                service members and veterans
                                achieve the American dream of
                                homeownership.</p>
                            <p class="products__content__hightlight">Highlights of VA mortgage loans
                                include:</p>
                            <span>The ability to finance up to 100% of the
                                appraised value</span>
                            <span>The ability to finance the up-front
                                portion of the guarantee fee</span>
                            <span>Lower credit score requirements</span>
                            <span>Lower interest rates</span>
                            <span>Lower closing costs</span>
                            <span>The ability to use gift funds for closing
                                costs</span>
                            <span>30-year fixed-rate mortgage terms</span>
                            <div class="products__content__view">
                                <div class="products__content__icon">
                                    <i class="fa-solid fa-circle-arrow-right"></i>

                                </div>
                                <a href="">View Product
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="products__content__bot">
                        <p>*Appraised property value may affect loan amount.</p>
                        <p>**The cash from equity is usually tax free. This information does not constitute tax advice
                            or financial planning advice. Please consult a tax advisor for tax advice and a financial
                            planner regarding enhancements to retirement plans.
                            Fairway is not affiliated with any government agencies. These materials are not from HUD or
                            FHA and were not approved by HUD or a government agency. Reverse mortgage borrowers are
                            required to obtain an eligibility certificate
                            by receiving counseling sessions with a HUD-approved agency. Must be at least 62 years old.
                            Loan proceeds are not considered income and will not affect Social Security or Medicare
                            benefits. Your monthly reverse mortgage advances
                            may affect your eligibility for some other programs. Consult a local program office or your
                            attorney to determine how, or if, monthly reverse mortgage payments might affect your
                            specific situation. At the conclusion of the term of the
                            reverse mortgage loan contract, some or all of the equity in the property that is the
                            subject of the reverse mortgage no longer belongs to you and you may need to sell or
                            transfer the property to repay the proceeds of the reverse
                            mortgage with interest from your assets. We will charge an origination fee, a mortgage
                            insurance premium, closing costs or servicing fees for the reverse mortgage, all or any of
                            which we will add to the balance of the reverse
                            mortgage loan. The balance of the reverse mortgage loan grows over time and interest will be
                            charged on the outstanding loan balance. You retain title to the property that is the
                            subject of the reverse mortgage until you sell or
                            transfer the property and you are therefore responsible for paying property taxes,
                            insurance, and maintenance. Failing to pay these amounts may cause the reverse mortgage loan
                            to become due immediately. Interest on reverse
                            mortgage is not deductible to your income tax return until you repay all or part of the
                            reverse mortgage loan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__top">
                <div class="inner-bg">
                    <div class="footer__inner">

                        <div class="footer__left">

                            <div class="footer__heading">
                                <p>Contact<strong> Corporate</strong></p>
                                <div class="footer__socials">
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-solid fa-camera-retro"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="footer__main">
                                <div class="footer__contact">
                                    <p class="footer__header">Complaints & Customer Service</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                    <a href="" class="footer__link">Contact Customer Service</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                    <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                    <a href="" class="footer__link">Report An Incident Online, click here</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Servicing & Loan Information</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                    <a href="" class="footer__link">Contact Servicing</a>
                                    <a href="" class="footer__link">Servicing Rights: New York</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Madison Headquarters Location</p>
                                    <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Hours of Operation (Corporate)</p>
                                    <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Legal Information & Links</p>
                                    <a href="" class="footer__link">Privacy Policy</a>
                                    <a href="" class="footer__link"> Legal Disclosures</a>
                                    <a href="" class="footer__link">Licensing</a>
                                    <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                    <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                    <a href="" class="footer__link">NMLS Consumer Access</a>
                                    <a href="" class="footer__link"> Terms Of Use</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Additional Links</p>
                                    <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                    <a href="" class="footer__link"> About Fairway</a>
                                    <a href="" class="footer__link"> Careers</a>
                                    <a href="" class="footer__link">Loan Products & Options</a>
                                    <a href="" class="footer__link">Press Releases</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer__right">
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>3 Signs That Housing Inventory Could
                                Soon Come Roaring Back</h4>
                            <p>A shortage in housing inventory is fueling competition and
                                driving up home prices. However, these three signs suggest a
                                rebound isn't far off.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="inner-bg">
                    <div class="footer__bottom__inner">
                        <div class="footer__image">
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__1.png" alt="img_1">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__2.png" alt="img_2">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__3.png" alt="img_3">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__4.png" alt="img_4">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__5.png" alt="img_5">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Product/images/footer__6.png" alt="img_6">
                            </div>
                        </div>
                        <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a
                                href="">www.nmlsconsumeraccess.org</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="top__icon">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <p>TOP</p>
        </div>
    </div>

</body>

</html>