<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/credit.css">
    <title>Credit</title>
</head>
<body>
    <div class="credit">
        <div class="header">
            <div class="inner-bg">
                <div class="header__inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="/components/Credit/images/img_header.png" alt="FAIW">
                        </a>
                    </div>
    
                    <div class="header__content">
                        <ul class="header__nav">
                            <li class="header__item">
                                <a href="">ABOUT US</a>
                            </li>
                            <li class="header__item">
                                <a href="">LOCATIONS</a>
                            </li>
                            <li class="header__item">
                                <a href="">LOAN PRODUCTS</a>
                            </li>
                            <li class="header__item">
                                <a href="">CALCULATORS</a>
                            </li>
                            <li class="header__item">
                                <a href="">VIDEOS</a>
                            </li>
                        </ul>
    
                        <div class="header__controls">
                            <button class="header__button">Get started</button>
    
                            <div class="header__search">
                                <a href="">
                                    <div class="header__search__icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <p>SEARCH</p>
                                </a>
                            </div>
    
                            <div class="header__menu">
                                <a href="">
                                    <div class="header__menu__icon">
                                        <i class="fa-solid fa-bars-staggered"></i>
                                    </div>
                                    <p>MENU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="credit__banner">
            <div class="inner-bg">
                <div class="credit__banner__inner">
                    <div class="credit__banner__left">
                        
    <div class="banner__nav">
        <div class="banner__nav__icon"> 
            <a href=""><i class="fa-solid fa-house"></i></a>
        </div>
        <ul class="banner__nav__list">
            <li class="banner__nav__item">
                <a href="">HOME</a>
            </li>
            <li class="banner__nav__item">
                <a href="">Mortgage Resources</a>
            </li>
            <li class="banner__nav__item">
                <a href="">Fairway Mortgage Calculators</a>
            </li>
        </ul>
    </div>

                        <h1>Welcome to Credit Resources</h1>

                        <p>When you apply for a mortgage, your loan officer will obtain and review
                            your credit report. If your loan officer determines that you can benefit
                            from credit score improvement, you may be referred to work with
                            Fairway's internal Creditools team. One of our highly skilled credit
                            analysts will be assigned to review your credit report and draft a credit
                            improvement action plan for you. <strong>There is no cost to you to do so.</strong></p>
                    </div>

                    <div class="credit__banner__right">
                        <iframe frameborder="0" src="https://player.vimeo.com/video/476377440?app_id=122963&amp;h=ad4e43571e&amp;referrer=https%3A%2F%2Fwww.fairwayindependentmc.com%2F" allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="credit__report">
            <div class="inner-sm">
                <div class="credit__report__inner">
                    <div class="credit__report__left">
                        <div class="credit__report__video">
                            <iframe src="https://www.youtube.com/embed/HXgMLpc7ivE?si=2XFvFdvK2KMeBB74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>

                        <div class="credit__report__content">
                            <div class="credit__report__item">
                                <h3>Free Annual Credit Reports</h3>

                                <p>Whether you’re looking to buy, build or
                                    refinance your home, our experienced
                                    mortgage professionals are here to help.</p>

                                <a href="">More About Free Credit Reports</a>
                            </div>

                            <div class="credit__report__item">
                                <h3>A True Free Credit Report</h3>

                                <p>Your credit report affects your ability to
                                    get a loan or job and could help you avoid
                                    identity theft.</p>

                                <a href="">More About AnnualCreditReport.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="credit__report__right">
                        <h2 class="credit__report__title">
                            Helpful Links
                        </h2>
                        
                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Annualcreditreport.com</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Common Credit Report & Score Issues</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Consumer Financial Protection Bureau (CFPB)</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Credit Report & Credit Score Topics</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Direct Marketing Association</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Do Not Call Registry (DNC)</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">FAQs – Credit Basics</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Federal Trade Commission (FTC)</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Guide – Credit How-Tos</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Guide – Rebuild Your Credit</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Guide – Understand Your Credit Score</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">File a Complaint With FTC</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">IdentityTheft.gov</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Key Terms: Credit Reports & Scores</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">HelpWithMyBank.gov</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Opt Out Prescreen</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Report ECOA Violations</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">Report Fair Housing Violations</a>
                        </div>

                        <div class="credit__report__link">
                            <div class="credit__report__icon">
                                <i class="fa-solid fa-play"></i>
                            </div>

                            <a href="">State Attorney Generals</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="credit__review">
            <div class="inner-bg">
                <div class="credit__review__main">
                    <h2>How Do I Review My Credit Report?</h2>

                    <p>Once you get your credit report, you will want to review it carefully. Ordering it is not enough — you have to read it. Credit reports may have mistakes,
                        and if there are mistakes, you are the only one who is likely to find them.</p>

                    <button>Review Checklist</button>

                    <button>Disputing Errors</button>
                    
                    <button>Sample Dispute Letter</button>
                    
                    <button>Dispute Letter Template</button>

                    <div class="credit__review__image">
                        <img src="/components/Credit/images/review-node.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="credit__repair">
            <div class="inner-bg">
                <div class="credit__repair__main">
                    <div class="credit__main__left">
                        <p class="credit__main__left__title">
                            <strong>Credit Repair</strong>
                            Help & Resources
                        </p>

                        <div class="credit__main__list">
                            <div class="credit__main__list__item">
                                <p>Fixing Your Credit</p>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Beware of Credit Repair – Fix Your Credit Yourself</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Credit Repair Scams</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Federal Credit Repair Organizations Act</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Report Credit Repair Fraud</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">How to Choose a Credit Counseling Agency</a>
                                </div>

                                <a class="credit__main__list__item__more" href="">Learn More</a>
                            </div>
                            
                            <div class="credit__main__list__item">
                                <p>Getting Out of Debt</p>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Paying Down Credit Card Debt</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Settling Credit Card Debt</a>
                                </div>

                                <div class="credit__main__list__item__link">
                                    <i class="fa-solid fa-play"></i>
                                    <a href="">Time-Barred Debts</a>
                                </div>

                                <a class="credit__main__list__item__more" href="">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="credit__main__right">
                        <p class="credit__main__right__tittle">
                            What Are Credit Scores?
                        </p>

                        <p class="credit__main__right__desc">
                            Ever wonder how a lender decides whether to
                            grant you credit? For years, creditors have been
                            using credit scoring systems to determine if
                            you’d be a good risk for credit cards, auto loans
                            and mortgages.
                        </p>
                    </div>
                </div>

                <div class="credit__repair__img">
                    <img src="/components/Credit/images/repair-img.png" alt="">
                </div>
            </div>
        </div>

        <div class="credit__resources">
            <div class="inner-bg">
                <div class="credit__resources__inner">
                    <div class="credit__resources__taplist">
                        <button class="credit__resources__btn">
                            Consumer Rights
                        </button>
                        
                        <button class="credit__resources__btn">
                            Additional Resources
                        </button>
                    </div>

                    <div class="credit__resources__content">
                        <h6 class="credit__resources__tittle">
                            Additional Resources
                        </h6>

                        <div class="credit__resources__item">
                            <p class="credit__resources__text">
                                Prescreened Credit and Insurance
                                Offers
                            </p>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">What are Prescreened Credit and Insurance
                                    Offers?</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How to Stop Unsolicited Mail, Calls and Email?</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">National Do Not Call Registry FAQs</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Register with National Do Not Call Registry</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Opt Out of Receiving Prescreened Credit and
                                    Insurance Offers</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Remove Yourself from Direct Mail and Email
                                    Lists</a>
                            </div>
                        </div>

                        <div class="credit__resources__item">
                            <p class="credit__resources__text">
                                Cosigning a Loan
                            </p>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">What You Need to Know About Cosigning a
                                    Loan for Someone</a>
                            </div>
                        </div>

                        <div class="credit__resources__item">
                            <p class="credit__resources__text">
                                Identity Theft
                            </p>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">IdentityTheft.gov Helps You Report and Recover
                                    From Identity Theft</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Recover From Identity Theft</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">What To Do After a Data Breach</a>
                            </div>
                        </div>

                        <div class="credit__resources__item">
                            <p class="credit__resources__text">
                                Recovering From Disaster
                            </p>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How to Prepare and Plan Ahead</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How to Get Back on Your Feet After a Weather
                                    Emergency?</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Dealing with Weather Emergencies</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Replacing Vital Records</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">FEMA Disaster Help</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">State Emergency Management Agencies</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">U.S. Hospital Finder</a>
                            </div>
                        </div>

                        <div class="credit__resources__item">
                            <p class="credit__resources__text">
                                U.S. Hospital Finder
                            </p>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How To keep Your Personal Information Secure?</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Computer Security</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How to Dispose of Old Computers Properly</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">How to Dispose of a Mobile Device Properly</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Online Security Topics</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Protect Your Computer From Malware - VIDEO</a>
                            </div>

                            <div class="credit__resources__link">
                                <div class="credit__resources__icon">
                                    <i class="fa-solid fa-play"></i>
                                </div>

                                <a href="">Tips for Using Public Wi-Fi Networks</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer__top">
                <div class="inner-bg">
                    <div class="footer__inner">
    
                        <div class="footer__left">
    
                            <div class="footer__heading">
                                <p>Contact<strong> Corporate</strong></p>
                                <div class="footer__socials">
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-solid fa-camera-retro"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="footer__main">
                                <div class="footer__contact">
                                    <p class="footer__header">Complaints & Customer Service</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                    <a href="" class="footer__link">Contact Customer Service</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                    <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                    <a href="" class="footer__link">Report An Incident Online, click here</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Servicing & Loan Information</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                    <a href="" class="footer__link">Contact Servicing</a>
                                    <a href="" class="footer__link">Servicing Rights: New York</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Madison Headquarters Location</p>
                                    <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Hours of Operation (Corporate)</p>
                                    <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Legal Information & Links</p>
                                    <a href="" class="footer__link">Privacy Policy</a>
                                    <a href="" class="footer__link"> Legal Disclosures</a>
                                    <a href="" class="footer__link">Licensing</a>
                                    <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                    <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                    <a href="" class="footer__link">NMLS Consumer Access</a>
                                    <a href="" class="footer__link"> Terms Of Use</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Additional Links</p>
                                    <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                    <a href="" class="footer__link">  About Fairway</a>
                                    <a href="" class="footer__link"> Careers</a>
                                    <a href="" class="footer__link">Loan Products & Options</a>
                                    <a href="" class="footer__link">Press Releases</a>
                                </div>
                            </div>
                        </div>
    
                        <div class="footer__right">
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>3 Signs That Housing Inventory Could
                                Soon Come Roaring Back</h4>
                            <p>A shortage in housing inventory is fueling competition and
                                driving up home prices. However, these three signs suggest a
                                rebound isn't far off.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="inner-bg">
                    <div class="footer__bottom__inner">
                        <div class="footer__image">
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer2.png" alt="img_1">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer3.png" alt="img_2">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer4.png" alt="img_3">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer5.png" alt="img_4">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer6.png" alt="img_5">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Credit/images/footer7.png" alt="img_6">
                            </div>
                        </div>
                        <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a href="">www.nmlsconsumeraccess.org</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="top">
            <div class="top__icon">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <p>TOP</p>
        </div>
    </div>
</body>
</html>