<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/locations.css">
    <title>Locations</title>
</head>

<body>
    <div class="locations">
        <div class="header">
            <div class="inner-bg">
                <div class="header__inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="/components/Locations/images/img_header.png" alt="FAIW">
                        </a>
                    </div>

                    <div class="header__content">
                        <ul class="header__nav">
                            <li class="header__item">
                                <a href="../About/index.html">ABOUT US</a>
                            </li>
                            <li class="header__item">
                                <a href="../Locations/locations.html">LOCATIONS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Product/product.html">LOAN PRODUCTS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Calculators/calculators.html">CALCULATORS</a>
                            </li>
                            <li class="header__item">
                                <a href="../Video/video.html">VIDEOS</a>
                            </li>
                        </ul>

                        <div class="header__controls">
                            <button class="header__button">Get started</button>

                            <div class="header__search">
                                <a href="">
                                    <div class="header__search__icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <p>SEARCH</p>
                                </a>
                            </div>

                            <div class="header__menu">
                                <a href="">
                                    <div class="header__menu__icon">
                                        <i class="fa-solid fa-bars-staggered"></i>
                                    </div>
                                    <p>MENU</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="locations__banner">
            <div class="inner-bg">
                <div class="locations__banner__inner">
                    <div class="locations__banner__content">

                        <div class="banner__nav">
                            <div class="banner__nav__icon">
                                <a href=""><i class="fa-solid fa-house"></i></a>
                            </div>
                            <ul class="banner__nav__list">
                                <li class="banner__nav__item">
                                    <a href="">HOME</a>
                                </li>
                                <li class="banner__nav__item">
                                    <a href="">LOCATIONS</a>
                                </li>
                            </ul>
                        </div>

                        <h2>Select a state to browse locations</h2>

                        <div class="banner__content__list">
                            <a href="">Alabama</a>
                            <a href="">Arizona</a>
                            <a href="">Arkansas</a>
                            <a href="">California</a>
                            <a href="">Colorado</a>
                            <a href="">Connecticut</a>
                            <a href="">Delaware</a>
                            <a href="">District of Columbia</a>
                            <a href="">Florida</a>
                            <a href="">Georgia</a>
                            <a href="">Hawaii</a>
                            <a href="">Idaho</a>
                            <a href="">Illinois</a>
                            <a href="">Indiana</a>
                            <a href="">Iowa</a>
                            <a href="">Kansas</a>
                            <a href="">Kentucky</a>
                            <a href="">Louisiana</a>
                            <a href="">Maine</a>
                            <a href="">Maryland</a>
                            <a href="">Massachusetts</a>
                            <a href="">Michigan</a>
                            <a href="">Minnesota</a>
                            <a href="">Mississippi</a>
                            <a href="">Missouri</a>
                            <a href="">Montana</a>
                            <a href="">Nebraska</a>
                            <a href="">Nevada</a>
                            <a href="">New Hampshire</a>
                            <a href="">New Jersey</a>
                            <a href="">New Mexico</a>
                            <a href="">New York</a>
                            <a href="">North Carolina</a>
                            <a href="">North Dakota</a>
                            <a href="">Ohio</a>
                            <a href="">Oklahoma</a>
                            <a href="">Oregon</a>
                            <a href="">Pennsylvania</a>
                            <a href="">Rhode Island</a>
                            <a href="">South Carolina</a>
                            <a href="">South Dakota</a>
                            <a href="">Tennessee</a>
                            <a href="">Texas</a>
                            <a href="">Utah</a>
                            <a href="">Vermont</a>
                            <a href="">Virginia</a>
                            <a href="">Washington</a>
                            <a href="">Wisconsin</a>
                            <a href="">Wyoming</a>
                        </div>
                    </div>

                    <div class="locations__banner__tittle">
                        <div class="locations__banner__btn">
                            <button>Search By Address</button>

                            <button>Search by Name</button>
                        </div>

                        <div class="locations__banner__tittle__tab">
                            <label for="">Search by name or nmls for a Fairway Loan Officer</label>

                            <input type="text" placeholder="Search by Name or NMLS">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="award__winning">
            <div class="inner-bg">
                <div class="award__inner">

                    <div class="award__left">
                        <div class="award__header">
                            <div class="award__logo">
                                <img src="/components/Locations/images/footer2.png" alt="">
                            </div>
                            <h2>Award-Winning
                                Customer Satisfaction</h2>
                            <p>#1 in Mortgage Origination Customer Satisfaction - J.D. Power</p>
                        </div>
                        <span>For J.D. Power 2023 Award information, visit <a href=""> www.jdpower.com/awards</a></span>
                    </div>

                    <div class="award__right">
                        <img src="/components/Locations/images/cup.png" alt="cup">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer__top">
                <div class="inner-bg">
                    <div class="footer__inner">

                        <div class="footer__left">

                            <div class="footer__heading">
                                <p>Contact<strong> Corporate</strong></p>
                                <div class="footer__socials">
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-solid fa-camera-retro"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="footer__icon">
                                            <i class="fa-brands fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="footer__main">
                                <div class="footer__contact">
                                    <p class="footer__header">Complaints & Customer Service</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                    <a href="" class="footer__link">Contact Customer Service</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                    <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                    <a href="" class="footer__link">Report An Incident Online, click here</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Servicing & Loan Information</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                    <a href="" class="footer__link">Contact Servicing</a>
                                    <a href="" class="footer__link">Servicing Rights: New York</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Madison Headquarters Location</p>
                                    <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                    <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Hours of Operation (Corporate)</p>
                                    <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Legal Information & Links</p>
                                    <a href="" class="footer__link">Privacy Policy</a>
                                    <a href="" class="footer__link"> Legal Disclosures</a>
                                    <a href="" class="footer__link">Licensing</a>
                                    <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                    <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                    <a href="" class="footer__link">NMLS Consumer Access</a>
                                    <a href="" class="footer__link"> Terms Of Use</a>
                                </div>
                                <div class="footer__contact">
                                    <p class="footer__header">Additional Links</p>
                                    <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                    <a href="" class="footer__link"> About Fairway</a>
                                    <a href="" class="footer__link"> Careers</a>
                                    <a href="" class="footer__link">Loan Products & Options</a>
                                    <a href="" class="footer__link">Press Releases</a>
                                </div>
                            </div>
                        </div>

                        <div class="footer__right">
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>Is a Fixer Upper Worth It? 5 Things
                                You Should Know Before Renovating
                                a Home</h4>
                            <p>Is buying a fixer-upper home worth it? The author shares 5
                                things she has learned through her personal fixer-upper
                                experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="inner-bg">
                    <div class="footer__bottom__inner">
                        <div class="footer__image">
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer2.png" alt="img_1">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer3.png" alt="img_2">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer4.png" alt="img_3">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer5.png" alt="img_4">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer6.png" alt="img_5">
                            </div>
                            <div class="footer__image__item">
                                <img src="/components/Locations/images/footer7.png" alt="img_6">
                            </div>
                        </div>
                        <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a
                                href="">www.nmlsconsumeraccess.org</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="top">
            <div class="top__icon">
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <p>TOP</p>
        </div>
    </div>
</body>

</html>