<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video</title>
    <link rel="stylesheet" href="../../assets/base.css" />
    <link rel="stylesheet" href="../../assets/video.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="video">
      <div class="header">
        <div class="inner-bg">
          <div class="header__inner">
            <div class="header__logo">
              <a href="">
                <img src="/images/img_header.png" alt="FAIW" />
              </a>
            </div>

            <div class="header__content">
              <ul class="header__nav">
                <li class="header__item">
                  <a href="">ABOUT US</a>
                </li>
                <li class="header__item">
                  <a href="">LOCATIONS</a>
                </li>
                <li class="header__item">
                  <a href="">LOAN PRODUCTS</a>
                </li>
                <li class="header__item">
                  <a href="">CALCULATORS</a>
                </li>
                <li class="header__item">
                  <a href="">VIDEOS</a>
                </li>
              </ul>

              <div class="header__controls">
                <button class="header__button">Get started</button>

                <div class="header__search">
                  <a href="">
                    <div class="header__search__icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <p>SEARCH</p>
                  </a>
                </div>

                <div class="header__menu">
                  <a href="">
                    <div class="header__menu__icon">
                      <i class="fa-solid fa-bars-staggered"></i>
                    </div>
                    <p>MENU</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video__banner">
        <div class="inner-sm">
          <div class="video__banner__top">
            <div class="banner__nav">
              <div class="banner__nav__icon">
                <a href=""><i class="fa-solid fa-house"></i></a>
              </div>
              <ul class="banner__nav__list">
                <li class="banner__nav__item">
                  <a href="">HOME</a>
                </li>
                <li class="banner__nav__item">
                  <a href="">Mortgage Resources</a>
                </li>
                <li class="banner__nav__item">
                  <a href="">Fairway Mortgage Calculators</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="video__banner__bottom">
            <div class="video__banner__content">
              <h1>LO Confidential: A Season On The Street / Part 1</h1>
              <p>
                L.O. Confidential: A Season on the Street follows three mortgage
                teams over the course of several months during one of the
                toughest markets in mortgage history. The 3-part series is
                produced by an Emmy Award-winning director.
              </p>
            </div>
            <div class="video__banner__youtube">
              <div class="video__banner__badge">FEATURED</div>
              <iframe
                src="https://www.youtube.com/embed/ezcRnKBz00Y?si=vfehnNZqTaxa1S17"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="video__section">
        <div class="video__seach">
          <div class="inner-sm">
            <label class="video__search__label" for="search__video"
              >Search for a video</label
            >
            <div class="video__search__main">
              <input
                id="search__video"
                placeholder="Search keywords and tags"
                type="text"
                class="video__search__input"
              />
              <button class="video__search__button">Clear Search</button>
            </div>
          </div>
        </div>
        <div class="video__content">
          <a class="video__content__article">
            Additional Videos
            <div class="video__content__article__image">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
          <div class="video__content__youtube">
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
            <div class="video__content__youtube__list">
              <div class="video__content__list__image">
                <img src="./images/1.jpeg" alt="" />
                <a class="video__content__list__icon">
                  <i class="fa-solid fa-play"></i>
                </a>
              </div>
              <div class="video__content__list__box"></div>
              <div class="video__content__youtube__tittle">
                <h2>LO Confidential: A Season On The Street / Part 3</h2>
                <div class="video__content__tittle__item">
                  <a href="">FairwayNation</a>
                  <a href="">Recruiting</a>
                </div>
              </div>
            </div>
          </div>

          <button class="video__content__next">
            Next
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="video__overlay">
        <div class="video__overlay__item video__overlay__item--merald">
          <div class="video__overlay__item__content">
            <h3>Fairway Stories</h3>
            <p>
              Our Fairway Stories series focuses on how the #FairwayNation at
              Fairway Independent Mortgage Corporation steps up to help those in
              our community faced with the uncertainty, fear and worry of
              homeownership and how they overcame the odds. Watch to see how
              Fairway assists those who need it most.
            </p>
            <button>
                View Collection
            </button>
          </div>
        </div>
        <div class="video__overlay__item video__overlay__item--red">
            <div class="video__overlay__item__content">
              <h3>Fairway Stories</h3>
              <p>
                Our Fairway Stories series focuses on how the #FairwayNation at
                Fairway Independent Mortgage Corporation steps up to help those in
                our community faced with the uncertainty, fear and worry of
                homeownership and how they overcame the odds. Watch to see how
                Fairway assists those who need it most.
              </p>
              <button>
                  View Collection
              </button>
            </div>
          </div>
          <div class="video__overlay__item video__overlay__item--blue">
            <div class="video__overlay__item__content">
              <h3>Fairway Stories</h3>
              <p>
                Our Fairway Stories series focuses on how the #FairwayNation at
                Fairway Independent Mortgage Corporation steps up to help those in
                our community faced with the uncertainty, fear and worry of
                homeownership and how they overcame the odds. Watch to see how
                Fairway assists those who need it most.
              </p>
              <button>
                  View Collection
              </button>
            </div>
          </div>
          <div class="video__overlay__item video__overlay__item--green">
            <div class="video__overlay__item__content">
              <h3>Fairway Stories</h3>
              <p>
                Our Fairway Stories series focuses on how the #FairwayNation at
                Fairway Independent Mortgage Corporation steps up to help those in
                our community faced with the uncertainty, fear and worry of
                homeownership and how they overcame the odds. Watch to see how
                Fairway assists those who need it most.
              </p>
              <button>
                  View Collection
              </button>
            </div>
          </div>
      </div>
      <div class="footer">
        <div class="footer__top">
            <div class="inner-bg">
                <div class="footer__inner">

                    <div class="footer__left">

                        <div class="footer__heading">
                            <p>Contact<strong> Corporate</strong></p>
                            <div class="footer__socials">
                                <a href="">
                                    <div class="footer__icon">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="footer__icon">
                                        <i class="fa-solid fa-camera-retro"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="footer__icon">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="footer__icon">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="footer__main">
                            <div class="footer__contact">
                                <p class="footer__header">Complaints & Customer Service</p>
                                <p class="footer__phone"><strong>Toll Free:</strong> 877-699-0353</p>
                                <a href="" class="footer__link">Contact Customer Service</a>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Report Fraud or Suspicious Activity</p>
                                <p class="footer__phone"><strong>Hotline:</strong> 855-920-0002</p>
                                <a href="" class="footer__link">Report An Incident Online, click here</a>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Servicing & Loan Information</p>
                                <p class="footer__phone"><strong>Toll Free:</strong> 800-201-7544</p>
                                <a href="" class="footer__link">Contact Servicing</a>
                                <a href="" class="footer__link">Servicing Rights: New York</a>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Madison Headquarters Location</p>
                                <p class="footer__address">4750 S. Biltmore Lane, Madison, WI 53718</p>
                                <p class="footer__phone"><strong>Toll Free:</strong> 866-912-4800</p>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Hours of Operation (Corporate)</p>
                                <p class="footer__address">Monday–Friday, 8:30 a.m.–5:00 p.m. Central</p>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Legal Information & Links</p>
                                <a href="" class="footer__link">Privacy Policy</a>
                                <a href="" class="footer__link"> Legal Disclosures</a>
                                <a href="" class="footer__link">Licensing</a>
                                <a href="" class="footer__link"> Texas Consumer Complaints</a>
                                <a href="" class="footer__link">IL Community Reinvestment Notice</a>
                                <a href="" class="footer__link">NMLS Consumer Access</a>
                                <a href="" class="footer__link"> Terms Of Use</a>
                            </div>
                            <div class="footer__contact">
                                <p class="footer__header">Additional Links</p>
                                <a href="" class="footer__link">FairwayNOW Mobile App</a>
                                <a href="" class="footer__link">  About Fairway</a>
                                <a href="" class="footer__link"> Careers</a>
                                <a href="" class="footer__link">Loan Products & Options</a>
                                <a href="" class="footer__link">Press Releases</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer__right">
                        
                            <span> Homeownership <strong>HUB</strong></span>
                            <h4>3 Signs That Housing Inventory Could
                                Soon Come Roaring Back</h4>
                            <p>A shortage in housing inventory is fueling competition and
                                driving up home prices. However, these three signs suggest a
                                rebound isn't far off.</p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="inner-bg">
                <div class="footer__bottom__inner">
                    <div class="footer__image">
                        <div class="footer__image__item">
                            <img src="/images/footer2.png" alt="img_1">
                        </div>
                        <div class="footer__image__item">
                            <img src="/images/footer3.png" alt="img_2">
                        </div>
                        <div class="footer__image__item">
                            <img src="/images/footer4.png" alt="img_3">
                        </div>
                        <div class="footer__image__item">
                            <img src="/images/footer5.png" alt="img_4">
                        </div>
                        <div class="footer__image__item">
                            <img src="/images/footer6.png" alt="img_5">
                        </div>
                        <div class="footer__image__item">
                            <img src="/images/footer7.png" alt="img_6">
                        </div>
                    </div>
                    <p>Fairway Independent Mortgage Corporation | NMLS Entity ID #2289 | <a href="">www.nmlsconsumeraccess.org</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="top__icon">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
        <p>TOP</p>
    </div>
    </div>
  </body>
</html>
